head {
    display: none;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    width: 9px;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255,255,255,0.4);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  element.style {
}
body {
    height: 100%;
    padding: 0;
}
body {
    margin: 0;
}
body[Attributes Style] {
    direction: ltr;
    unicode-bidi: isolate;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    width: 9px;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 14%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 14%);
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}
::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255,255,255,0.4);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    -webkit-box-shadow: inset 1px 0 0 rgb(0 0 0 / 14%), inset -1px 0 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 0 0 rgb(0 0 0 / 14%), inset -1px 0 0 rgb(0 0 0 / 7%);
}
  
  
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
